<p class="list-group-item" id="question_<%= question.id %>">
<%= link_to question.description, question_path(question) %> by
<%= "#{question.user.user_name}" %>
<%= link_to "(remove)", question, method: :delete, data: {confirm: "Are you sure?"}, id: "remove_q", remote: true %> </p>

