<% content_for(:title, "Stack Underflow") %>


<h1 class="text-center">Stack Underflow</h3>

<pre><p> <%= @question.description %> </p></pre>



<div class="list-group">
  <% if current_user %>
    <%= link_to "Reply", new_question_path, :class => "btn btn-success btn-lg", id: "reply_to_q", remote: true %>
  <% end %>
</div>

<%= link_to "Back to Stack Underflow Questions", questions_path %>
