<% content_for(:title, "Stack Underflow") %>


<!--<h1 class="text-center">Stack Underflow</h3>

<input class="form-control" id="disabledInput" type="text" placeholder= "#{question.description}" disabled>-->
