<blockquote><font size="2">
  <p id="answer_<%= answer.id %>"> <%= "#{answer.description}" %></p></font>
  <footer> answered by <strong><%= "#{answer.user.user_name}" %></strong></footer>
</blockquote>
